<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="card" th:each="i : ${posts}">
    <img src="https://placehold.co/300">
    <div>
      <h4 th:text="${i.title}">입금자명 확인하세요</h4>
      <p th:text="${i.date}">2025년 12월 12일</p>
    </div>
  </div>
</body>
</html>